<div class="row-flex flex-row">
	<div class="float-left mr-3 border" style="margin-top: .25em; float:left;">
		<div class="mb-1" style="font-size: .7em;">
			{{ arrangement.getStart()|dato('M')|upper }}
		</div>
		<div class="" style="font-size:1.26em; margin-top: -.1em; {{ arrangement.erFerdig() ? 'margin-bottom: -.10em;'}}">
			{{ arrangement.getStart()|dato('d')}}
		</div>
	</div>
	<div>
		<div style="margin-top: 1em; padding-top:.3em; padding-left: 3em;">
            <a target="_blank" rel="noopener noreferrer" href="{{ arrangement.getLink() }}">{{ arrangement.getNavn()}}</a>
        </div>
		<small class="text-muted" style="margin-top: 1em; padding-top:.3em; padding-left: 1.85em;">
			{% if arrangement.harKart() and arrangement.getKart().getName() %}
				{{ arrangement.getKart().getName() }}
			{% else %}
				{{ arrangement.getSted() }}
			{% endif %}
		</small>
	</div>
</div>
