<div class="row-flex flex-row">
	<div class="float-right mt-2 border" style="float:right;">
		<a target="_blank" rel="noopener noreferrer" href="{{ arrangement.getLink() }}" class="btn btn-ukm btn-xs">Mer info</a>
	</div>
	<div class="float-left mr-3 border" style="margin-top: .25em; float:left;">
		<div class="mb-1" style="font-size: .7em;">
			{{ arrangement.getStart()|dato('M')|upper }}
		</div>
		<div class="" style="font-size:1.26em;margin-top: -.1em; {{ arrangement.erFerdig() ? 'margin-bottom: -.3em'}}">
			{{ arrangement.getStart()|dato('d')}}
		</div>
        {% if arrangement.erFerdig() %}
            <div class="mb-1 badge badge-warning" style="font-size: .7em; background: rgba(255, 18, 139, 65%); color: #fff;">
                {{ arrangement.getStart()|dato('Y')|upper }}
            </div>
        {% endif %}
	</div>
	<div>
		<div style="margin-top: 1em; padding-top:.3em; padding-left: 3em;">
            <a target="_blank" rel="noopener noreferrer" href="{{ arrangement.getLink() }}">{{ arrangement.getNavn()}}</a>
        </div>
		<small class="text-muted" style="margin-top: 1em; padding-top:.3em; padding-left: 1.9em;">
			{% if arrangement.harKart() and arrangement.getKart().getName() %}
				{{ arrangement.getKart().getName() }}
			{% else %}
				{{ arrangement.getSted() }}
			{% endif %}
		</small>
	</div>
</div>
