<div class="float-left overunder as-padding-right-space-2">
	<div class="over" style="font-size: .7em;">
		{{ arrangement.getStart()|dato('D')|upper }}
	</div>
	<div class="under" style="font-size:1.4em;">
		{{ arrangement.getStart()|dato('d')}}
	</div>
	<div class="under" style="font-size: .7em; margin-top: 0.2em; white-space: nowrap;">
		{{ arrangement.getStart()|dato('M')|upper }}
		{{ arrangement.getStart()|dato('Y')|upper }}
	</div>
</div>
<div class="title title-arr-div as-padding-left-space-2">
	<div class="right-side as-display-flex">
		<div class="as-margin-auto as-margin-left-none">
			<a class="title-link as-btn-hover-default" href="{{ arrangement.getLink() }}">{{ arrangement.getNavn()}}</a>
			<p class="nom place">
				{% if arrangement.harKart() and arrangement.getKart().getName() %}
					{{ arrangement.getSted() }}
				{% endif %}
			</p>
		</div>
		<div class="as-margin-auto as-margin-right-none">
			<a href="//delta.{{ UKM_HOSTNAME }}/login/arrsys/meldpa/{{ arrangement.getType() == 'fylke' ? 'fylke' : arrangement.getEierKommune().getId() }}-{{ arrangement.getId() }}/" target="_blank" class="as-btn-simple meld-deg-paa-btn primary as-btn-ahref">
				<span>Meld deg på</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-right-icon lucide-circle-arrow-right"><circle cx="12" cy="12" r="10"/><path d="m12 16 4-4-4-4"/><path d="M8 12h8"/></svg>
			</a>
		</div>
	</div>
</div>
<style>
.title-arr-div, 
.right-side {
	width: 100%;
}
.meld-deg-paa-btn {
	padding: 10px 15px !important;
	text-align: center;
}
.meld-deg-paa-btn span {
	margin: auto;
	margin-right: 10px;
}
.meld-deg-paa-btn svg {
	vertical-align: middle;
	margin-left: 10px;
	margin: auto;
	margin-right: 0;
}
@media (max-width: 1400px) {
	.right-side {
		display: block;
	}
}
</style>