<td class="{{ not videoconverter.online ? 'text-danger' : ''}}">
	Konverteringskø
</td>
{% if not videoconverter.online %}
	<td>
		OFFLINE
	</td>
{% else %}
	<script>
        google.charts.setOnLoadCallback(videoconverter_queue_status);

        function videoconverter_queue_status() {
            var data = google.visualization.arrayToDataTable([
                ['', 'First','Final','Archive'],
                ['', {{ videoconverter.queue.first_convert }}, {{ videoconverter.queue.final_convert }}, {{ videoconverter.queue.archive_convert }}]
            ]);

            var options = {
				chartArea: {'width': '100%', 'height': '100%'},
				isStacked: 'percent',
				orientation: 'vertical',
				bar: { groupWidth: '100%' },
				//pieHole: 0.4,
				legend: 'none',
				colors: ['#dc3545', '#fd7e14', '#ffc107']
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('videoconverter_queue_graph'));
            chart.draw(data, options);
        }
	</script>

	<td style="padding-bottom:0;">
		<div id="videoconverter_queue_graph" style="width:100%; height: 1.6em;">Laster inn...</div>
		<p>
			<small>
				{% if videoconverter.time.total is defined and videoconverter.time.total > 0 %}
					Antatt ferdig
					{{ ("now +"~ videoconverter.time.total ~"min")|dato('d.M H:i') }}
				{% else %}
					Ingen konverteringskø
				{% endif %}
			</small>
		</p>
	</td>
{% endif %}