<td class="{{ playback.space.free_percentage < 10 or not playback.online ? 'text-danger' : ''}}">
	Playback
</td>
{% if not video.online %}
	<td>OFFLINE</td>
{% else %}
	<script>
		google.charts.setOnLoadCallback(playback_status);
	
		function playback_status() {
			var data = google.visualization.arrayToDataTable([
				['','Brukt (GB)', 'Ledig (GB)'],
				['', {{ playback.space.used|round(1)|replace({',':'.'}) }}, {{ playback.space.free|round(1)|replace({',':'.'}) }}],
			]);
			
			var options = {
				chartArea: {'width': '100%', 'height': '88%'},
				//pieHole: 0.4,
				isStacked: 'percent',
				orientation: 'vertical',
				bar: { groupWidth: '100%' },
				legend: 'none',
				colors: [ '#dc3545', '#28a745']
			};
			
			var chart = new google.visualization.ColumnChart(document.getElementById('playback_graph'));
			chart.draw(data, options);
		}
	</script>
	<td style="padding-bottom: 0;">
		<div id="playback_graph" style="width:100%; height: 1.6em;">Laster inn...</div>
		<p>
			{{ playback.space.free_percentage|round(1) }}% ledig
			<small>
				({{ playback.diskspace|filesize(0) }} av {{ playback.total_diskspace|filesize(0) }})
			</small>
		</p>
	</td>
{% endif %}