{% for site in sites %}
	<div class="col-xs-12 col-sm-6 col-md-4">
		<table class="table table-dashboard {{ site.status }}">
			<thead>
				<tr class="">
					<th colspan="2">
						{{site.title}}
						<p class="pull-right">
							{% if site.link_add is defined %}
								<a href="{{ site.link_add  }}" target="_blank"><img src="{{ plugin_path }}img/ico-news.png" width="16" title="Nytt innlegg"></a>
							{% endif %}
							&nbsp;
							<a href="{{ site.link_panel }}" target="_blank"><img src="{{ plugin_path }}img/ico-wordpress.png" width="16" title="Kontrollpanel" /></a>
						</p>
					</th>
				</tr>
			</thead>
			<tbody>						
				{% for post in site.posts %}
					<tr>
						<td width="*%">
							{% if site.key == 'arrangor' %}
								{{post.title|raw}}
							{% else %}
								<a href="{{post.url}}" target="_blank">{{post.title|raw}}</a>
							{% endif %}
						</td>
						<td class="text-xs-center" width="15%" style="min-width:35px;">
							<small><div class="timeago" title="{{post.date}}">{{post.date|date('d.M')}}</div></small>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if loop.index is divisible by(3) %}
		<div class="clearfix visible-md visible-lg"></div>
	{% elseif loop.index is divisible by(2) %}
		<div class="clearfix visible-sm"></div>
	{% endif %}
{% endfor %}