<table class="table table-dashboard">
	<thead>
		<tr>
			<th colspan="2">Meldinger</th>
		</tr>
        <tbody>
		{% for message in messages %}
		    <tr class="{{message.level}}">
				<td scope="row">
					<span class="pull-right"><abbr title="{{message.body}}">i</abbr></span>
					<strong>{{message.module}}:</strong>
					{% if message.link is defined and message.link is not empty %}
						<a href="{{message.link}}">{{message.header}}</a>
					{% else %}
						{{ message.header }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
	</thead>


</table>