<table class="table table-dashboard">
	<thead>
		<tr>
			<th colspan="2">Gå til fylke- eller lokalside</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="2">
				<input type="text" name="filtrer" id="filterMonstringer" placeholder="Skriv her for å filtrere listen...." class="form-control input-sm" autofocus/>
			</td>
		</tr>

		<tr id="container_monstringer">
			<td width="col-xs-12 col-sm-5">
				<b>Fylker</b>
				<br/>
				<ol class="list-unstyled" id="fylkesmonstringer">
					{% for fylke in fylker %}
						<li filter="{{ fylke.getNavn() }}" class="monstringSok">
							<a href="index.php?page=UKMnettverket_fylker&omrade={{ fylke.getId() }}&type=fylke" target="_blank">
								{{ fylke.getNavn() }}
							</a>
						</li>
					{% endfor %}
				</ol>
				<div class="clearfix"></div>
			</td>
			<td width="col-xs-12 col-sm-7">
				<b>Kommuner</b>
				<ol class="list-unstyled" id="lokalmonstringer">
					{% for fylke in fylker %}
						{% for kommune in fylke.getKommuner().getAll() %}
							<li filter="{{ kommune.getNavn() }} {{ fylke.getNavn() }}" class="monstringSok">
								<a href="index.php?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune" target="_blank">
									{{ kommune.getNavn() }}
								</a>
								<small>({{ fylke.getNavn() }})</small>
							</li>
						{% endfor %}
					{% endfor %}
				</ol>
				<div class="clearfix"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div id="plStartSearch">
					Ingen fylker eller kommuner/bydeler vises før du begynner å filtrere listen
				</div>
				<div id="plNoneFound">
					Beklager, ingen fylker eller kommuner/bydeler matcher søkeordet!
				</div>
			</td>
		</tr>
	</tbody>
</table>
