<table class="table table-dashboard noborder">
	<thead>
		<tr>
			<th colspan="4">Kalender</th>
		</tr>
	</thead>
	<tbody>
		{% for event in kalender %}
		    <tr class="{{event.level}}">
				<td scope="row">
					<a href="admin.php?page=UKMkalender">{{event.header}}</a>
				</td>
				{% if (event.stop is not defined) or (event.start == event.stop) %}
					<td width="10%">
						{{ event.start|dato('d') }}
						<small>{{ event.start|dato('M') }}</small>
					</td>
				{% else %}
					<td width="10%">
						{{ event.start|dato('d') }}
						<small>{{ event.start|dato('M') }}</small>
					</td>
					<td width="2%">-</td>
					<td width="10%">
						{{ event.stop|dato('d') }}
						<small>{{ event.stop|dato('M') }}</small>
					</td>
				{% endif %}
			</tr>
		{% else %}
			<tr>
				<td>ingen hendelser</td>
			</tr>
		{% endfor %}
	</tbody>
</table>