<h2>Vi er her for å hjelpe!</h2>
<p class="lead">For tekniske spørsmål om arrangørsystem, nettsider og påmelding anbefaler vi å kontakte UKM Norge support</p>

<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
	<div class="col-xs-4">
		<img src="//grafikk.ukm.no/support/support_tech1.jpg" class="img img-circle" style="max-width: 100%;" />
	</div>
	<div class="col-xs-8">
		<h4>UKM Norge support</h4>
		<p class="UKMSMS">464 21 625</p>
		<p><a href="mailto:support@ukm.no">support@ukm.no</a></p>
	</div>
</div>


<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
	<div class="col-xs-4">
		<img src="//grafikk.ukm.no/support/support.jpg" class="img img-circle" style="max-width: 100%;" />
	</div>
	<div class="col-xs-8">
		<h4>UKM Norge sentralbord</h4>
		<p class="UKMSMS">464 15 500</p>
		<p><a href="mailto:ukm@ukm.no">ukm@ukm.no</a></p>
	</div>
</div>

<div class="clearfix"></div>

{% if site_type in ['kommune','arrangement'] and kontakter|length > 0 %}
	
	<h2>Fylkeskontaktene</h2>
	<p class="lead">Kontaktpersoner fra fylket kan hjelpe deg med generelle spørsmål om UKM, kvoter, spesialordninger i fylket osv</p>
	
	{% for kontakt in kontakter %}
	<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
		<div class="col-xs-4">
			<img src="{{kontakt.picture}}" class="img img-circle" style="max-width: 100%;" />
		</div>
		<div class="col-xs-8">
			<h4>{{kontakt.name}}</h4>
			<p>{{kontakt.title}}</p>
			<p class="UKMSMS">{{kontakt.phone}}</p>
			<p><a href="mailto:{{kontakt.mail}}">{{kontakt.mail}}</a></p>
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if gjestekommune is defined %}
	<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
		<h4>Gjestekommune</h4>
		<p>Fylket har en "gjestekommune" det går an å logge inn på for å vise frem eller teste systemet.</p>
		
		<p>Målet med denne er at lokal- og fylkeskontakter kan logge inn som arrangøren "Gjester" og sette opp en hel mønstring hvis ønskelig i forbindelse med en demo, eller at lokalkontakter kan logge inn og prøve seg frem i systemet.</p>
		<div class="well">
			<span>Brukernavn: <strong>{{ gjestekommune.brukernavn }}</strong></span><br>
			<span>Passord: <strong>{{ gjestekommune.passord }}</strong></span>
		</div>
		<p>Logg inn som vanlig på <a href="//ukm.no/">ukm.no</a> -> for arrangører.</p>
		<p>OBS: Dette er en delt bruker, så andre kan være innlogget samtidig og gjøre endringer.</p>
	</div>

{% endif %}